.footer {
  font-size: 12px;
  color: #333;
  padding-top: 4px;
  padding-bottom: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f6f7;
  padding-left: 25px;
  padding-right: 25px;
}

.footerContent {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}
